*{
    margin: 0px;
    padding: 0px;
}
.parent{
    background-color: yellow;
    min-height: 800px;
    width: 70%;
    margin: 0 auto;
    position: relative;
}
.child1{
    background-color: red;
    right: 10px;
    bottom: 0px;
}
.child2{
    background-color: green;
    left: 0px;
    bottom: 0px;
}
.child3{
    background-color: black;
    right: -10px;
    top: -10px;
}
.child4{
    background-color: blue;
    top: 0px;
    left: 15px;
}
.box{
    
    min-height: 200px;
    width: 25%;
    border: 1px solid black;
    position: absolute;
}